/* colores principales */



/* uso de mapas */



/* estilo tipografia */




/* uso de extend */

%titulos{
    font-size: 40px;
    font-weight: bold;
    
    
}

h1{
    text-align: center;
    @extend %titulos;
}

/* uso de mixing */

@mixin texto ($subrayado) {
    text-decoration: $subrayado
}

.card-text{
    @include texto(underline);
}